#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.75rem;
  text-align: center;
}

body {
  font-family: 'Poppins';
  font-style: normal;
}

h1 {
  font-weight: 600;
  font-size: 28px;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 151%;
}

p {
  font-weight: 400;
  font-size: 14px;
}

.confirmation--page {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.confirmation--page-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #767676;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
  max-height: 56px;
  background-color: black;
}

.header--img {
  width: 100px;
  height: 30px;
  margin: 16px 0 16px 0;
}

.main {
  margin-top: 60px;
}

.steps {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.steps--block {
  display: flex;
  padding: 0.5rem 0;
}

.confirm--img {
  width: 200px;
}

.steps--block > div > h4,
.steps--block > div > p {
  text-align: start;
  margin: 0.15rem 0;
}

.steps--block > div > p {
  font-weight: 300;
  font-size: 12px;
  line-height: 151%;
}

.steps--block-img {
  width: 3rem;
}

.steps--block-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}

.help {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.button {
  cursor: pointer;
  background-color: #fe842d;
  color: white;
  border-radius: 1.75rem;
  border: 1px solid transparent;
  padding: 0.6em 4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-decoration: auto;
}

.help--btn {
  cursor: pointer;
  color: black;
  border-radius: 1.75rem;
  border: 1px solid black;
  padding: 0.45em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-decoration: auto;
}

.button--payment:focus {
  color: white;
}

.button--payment:visited {
  color: white;
}
