#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.75rem;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-height: 56px;
  background-color: black;
}

.header--img {
  width: 100px;
  height: 30px;
  margin: 16px 0 16px 0;
}


.content {
  position: relative;
  top: 80px;
}


.steps--block {
  display: flex;
  justify-content: space-between;
}

.steps--block > div > h4 {
  text-align: start;
  margin: 4px;
}

.steps--block > div > p {
  text-align: start;
  margin: 4px ;
}

.steps--block-img {
  width: 60px;
}

.steps--block-content {
  text-align: left;
  margin-left: 8px;

}


.button {
  cursor: pointer;
  background-color: #FE842D;
  color: white;
  border-radius: 0.75rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.button--payment:focus {
  color: white;
}

.button--payment:visited {
  color: white;
}

.action--btn {
  position: relative;
  top: 100px;
  padding: 2em;
}

